@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%); 
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}

main {
  padding: 24px;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--elements-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.logo img {
  width: 130px;
}

.theme-changer {
  cursor: pointer;
}

.title {
  font-weight: 800;
}

.main-container {
  max-width: 1200px;
  margin-top: 16px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: space-between;
}

.filter-by-region {
  width: 250px;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--elements-color);
  color: var(--text-color);
}

@media(max-width: 768px) {
  .main-container {
      justify-content: center;
  }

  .title {
      font-size: 16px;
  }
  .header-content p {
    font-size: 12px;
}
}



.search-input {
  margin: 20px 0;
}  
.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  padding-left: 24px;
  color: #999;
  overflow: hidden;
  background-color: var(--elements-color);
  color: var(--text-color);
}

.search-container input {
  border: none;
  outline: none;
  padding: 16px;
  width: 100%;
  background-color: inherit;
  color: inherit;
}

.search-container input::placeholder {
  color: #999;
}

@media(max-width: 768px) {
  .search-filter-container {
      flex-direction: column;
  }
  
}
